<h2>New profile</h2>

<%= render "form.html", changeset: @changeset,
                        offices: @offices,
                        departments: @departments,
                        positions: @positions,
                        action: profile_path(@conn, :create, @conn.params) %>

<%= link "Back", to: profile_path(@conn, :index, @conn.params) %>
